* text=auto
*.md text eol=lf
*.sql text eol=lf
*.psql text eol=lf
*.dax text eol=lf
*.png binary
*.jpg binary
*.pdf binary
*.json text eol=lf
*.pbip text eol=lf
*.pbir text eol=lf
*.pbism text eol=lf
*.bim text eol=lf
*.ps1 text eol=lf
